  @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HankenGrotesk", sans-serif;
  }

  :root {
    /* Primary Colors */
    --result-lightRed: hsl(0, 100%, 67%);
    --result-lightRedBackground: hsla(0, 100%, 67%, 0.151);
    --result-orangeYellow: hsl(39, 100%, 56%);
    --result-orangeYellowBackground: hsla(39, 100%, 56%, 0.233);
    --result-greenTeal: hsl(166, 100%, 37%);
    --result-greenTealBackground: hsla(166, 100%, 37%, 0.192);
    --result-cobaltBlue: hsl(234, 85%, 45%);
    --result-cobaltBlueBackground: hsla(234, 65%, 38%, 0.164);

    /* Gradients */
    --result-lightSlateBlue: hsl(252, 100%, 67%);
    --result-lightRoyalBlue: hsl(241, 81%, 54%);
    --result-VioletBlue: hsla(256, 72%, 46%, 1);
    --result-persianBlue: hsl(241, 72%, 46%);

    /* Neutral Colors */
    --result-darkGreyBlue: hsl(224, 30%, 27%);
    --result-white: hsl(0, 0%, 100%);
    --result-paleBlue: hsl(223, 76%, 92%);
    --result-lightLavender: hsl(241, 90%, 81%);

    /* Fonts */
    --result-paragraph: 18px;
  }

  .result-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    
  }

  .result-container {
    background: var(--result-white);
    width: 80%;
    max-width: 900px;
    display: grid;
    height: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 10px 0;
  }

  .result-container .result-dashboard {
    background: linear-gradient(90deg, var(--result-lightRoyalBlue) 0%, var(--result-lightSlateBlue) 100%);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .result-dashboard .result-dashboard__header {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--result-lightLavender);
  }

  .result-dashboard .result-dashboard__score {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background: linear-gradient(270deg, var(--result-VioletBlue) 0%, var(--result-persianBlue) 100%);
    margin-bottom: 20px;
  }

  .result-dashboard__score .result-score-number {
    font-size: 3rem;
    font-weight: 700;
    color: var(--result-white);
  }

  .result-dashboard__score .result-score-text {
    font-size: 15px;
    font-weight: 400;
    color: var(--result-lightLavender);
  }

  .result-dashboard .result-dashboard__grade {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .result-dashboard__grade .result-grade-text {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--result-white);
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .result-dashboard__grade .result-grade-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--result-lightLavender);
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .result-summary {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
    padding: 2rem 0;
    margin-right: 20px;
  }

  .result-summary .result-summary__header {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: var(--result-darkGreyBlue);
    width: 80%; /* Take up the full width */
  }

  #result-summary__category {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  #result-summary__category .result-categoryicon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 0.5rem 5px;
    border-radius: 5px;
  }



  .result-categoryicon img {
    width: 24px;
    height: 24px;
  }

  .result-categoryicon .result-category-text {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .result-categoryicon .result-score {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: right;
  }

  .result-score h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--result-darkGreyBlue);
  }

  .result-score h2 span {
    font-weight: 400;
    font-size: 17px;
    color: var(--result-lightLavender);
  }

  .result-continue {
    width: 40%;
    height: 70px;
    font-size: 1.3em;
    font-weight: 400;
    color: var(--result-white);
    margin-top: 10px;
    border-radius: 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--result-darkGreyBlue);
    transition: background-color 0.9s ease-in-out;
  }

  button:hover {
    background: linear-gradient(180deg, var(--result-VioletBlue) 0%, var(--result-persianBlue) 100%);
  }

  @media screen and (max-width: 1100px) {
    .result-container {
      width: 80%;
      max-width: 1100px;
      gap: 20px;
      grid-template-columns: 1fr;
      height: auto;
      border: 25px;
      margin: 10px 0;
    }

    .result-summary .result-summary__header {
      font-size: 1.2rem;
    }

    .result-container .result-dashboard {
      border-radius: 5px;
      padding: 25px;
      height: auto;
    }

    body {
      max-width: 960px;
    }

    .result-dashboard .result-dashboard__header {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .result-categoryicon img {
      width: 18px;
      height: 18px;
    }

    .result-score h2 {
      font-size: 18px;
    }

    .result-dashboard .result-dashboard__score {
      width: 90px;
      height: 90px;
      margin-bottom: 20px;
    }

    .result-dashboard__score .result-score-number {
      font-size: 1.5rem;
    }



    .result-dashboard__score .result-score-text {
      font-size: 13px;
    }

    .result-dashboard__grade .result-grade-text {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    .result-categoryicon .result-category-text {
      font-size: 1rem;
    }

    .result-score h2 {
      font-weight: 700;
      color: var(--result-darkGreyBlue);
    }

    .result-score h2 span {
      font-size: 18px;
    }

    .result-summary {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center vertically */
      align-items: center;
      padding: 2rem 0;
      margin-right: 20px;
    }
    
  }

  .result-attribution {
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .result-attribution a {
    color: hsl(229, 94%, 28%);
    text-decoration: none;
    line-height: 10px;
  }
